{% extends 'base.html.twig' %}
{% block body %}
    <div class="body-home">
    <h1>Bienvenue sur votre site de séries préférées !</h1>
    <img src="{{ asset('img/seriesA.jpg') }}">
    </div>
{% endblock body%}

{%  block title %}{{ parent() }}| Home{% endblock title %}