{% extends 'base.html.twig' %}

{% block body %}
    <section>
        {# todo: afficher le formulaire de création #}
    </section>
{% endblock %}

{% block title %}
    The best series | {{ parent() }}
{% endblock %}