{% extends 'base.html.twig' %}

{% block title %}Page not found{% endblock %}

{% block body %}
    <h1>:(  La page que vous demandez n'existe pas !</h1>



    <a href="{{ path('main_home') }}" title="home">Retourner à la page d'accueil</a>

{% endblock %}
