{% extends 'base.html.twig' %}

{% block title %}Internal server error{% endblock %}

{% block body %}
    <h1>Internal Server Error !</h1>



    <a href="{{ path('main_home') }}" title="home">Retourner à la page d'accueil</a>

{% endblock %}
