{% extends 'base.html.twig' %}

{% block title %}Forbidden{% endblock %}

{% block body %}
    <h1>FORBIDDEN !</h1>



    <a href="{{ path('main_home') }}" title="home">Retourner à la page d'accueil</a>

{% endblock %}
